# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
*.env

# Virtual environments
venv/

# VSCode / IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Streamlit cache
.streamlit/config.toml
.streamlit/*.json

# Project-specific folders
uploaded_project/
backup/
__results__/
__reports__/
*.log

# System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Zip uploads & generated reports
*.zip
*.md
*.tmp
*.bak

# Notebooks (if added later)
*.ipynb_checkpoints
